.page-header a.btn{
  color: black;
  border-color: black;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-family: "Corinthia", cursive;
  color: black;
}

.page-header .project-name {
  color: white;
  font-family: "Corinthia", cursive;
}
.page-header .project-tagline {
  color: white;
  font-family: sans-serif;
}