.page-header{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.page-header a.btn {
    color: black;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.4);
}
.page-header a.btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    font-family: "Corinthia", cursive;
    color: black;
}

.page-header .project-name {
    color: white;
    font-family: "Corinthia", cursive;
    font-size: 3rem;
}

.page-header .project-tagline {
    color: white;
    font-family: sans-serif;
    margin-bottom: 1em;
}