<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
          type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/custom.css">
    {% include head-custom.html %}
</head>
<body>
<a id="skip-to-content" href="#content">Skip to the content.</a>

<header class="page-header" role="banner" style="background-image: url('/images/header.png'); color: white; background-color: white; background-size: cover;">
    <h1 class="project-name">Välkommen på bröllop!</h1>
    <h2 class="project-tagline">EMELIE & RASMUS</h2>
    <h2 class="project-tagline">2026.08.01</h2>
    <!--

    -->
    <!--a href="/" class="btn">Start</a-->
    <a href="/" class="btn">Start</a>
    <a href="/our_history" class="btn">Vår historia</a>
    <a href="/weddingday" class="btn">Bröllopsdagen</a>
    <a href="/qna" class="btn">Frågor och svar</a>
    <a href="/rsvp_and_contact" class="btn">O.S.A och kontakt</a>
    <a href="/other_info" class="btn">Övrig information</a>
</header>
<h1>{{ page.title }}</h1>
<main id="content" class="main-content" role="main">
    {{ content }}
</main>
</body>
</html>
